/**
 * Base Styles
 */

body {
    font: normal normal normal 11px/16px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    overflow: -moz-scrollbars-vertical;
    background: #333 url(../images/bg.png) no-repeat center top;
}

.no-border {
    border: none !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.leading {
    margin-top: 10px !important;
}

nav > ul {
    padding: 0;
}

/**
 * Text Styles
 */

a {
    color: #0066ff;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

abbr, acronym {
    font-size: 85%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted black;
    cursor: help;
}

abbr[title], acronym[title], dfn[title] {
    border-bottom: 1px dotted #CCC;
    cursor: help;
}

code, kbd, samp, pre, tt, var, .code {
    font-family: Monaco, 'Panic Sans', 'Lucida Console', 'Courier New', Courier, monospace, sans-serif;
}

h1 {
    font-size:20px;  
}
h2 {
    font-size:18px; 
}
h3 {
    font-size:14px;  
}
h4 {
    font-size: 13px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 11px;
}
h1,h2,h3,h4,h5,h6,p {
    margin:1em 0;
}
h1,h2,h3 {
    color: #000;
}
h4,h5, h6 {
    color: #444;
    font-weight: normal;
}
h6, p {
    color: #676767;
}
h1,h2,h3,b,strong,caption,th,thead,dt,legend{
    font-weight:bold; 
}

ul, ol {
    padding-left: 2em;
}

li ul, li ol, ul ul, ol ol, dl dd {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

small, sup, sub {
    font-size: 90%;
}

.code {
    background-color: #EAEFF4;
    color: #069;
    overflow: auto;
    padding: 2px 6px;
}

.al {
    text-align: left !important;
}
.ar {
    text-align: right !important;
}
.ac {
    text-align: center !important;
}
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}

/**
 * Login
 */
body.login {
    height:0;
    overflow: hidden;
}
.login-box {
    margin: 0 auto !important;
    margin-top: -110px !important;
    margin-left: -300px !important;
    position: absolute !important;
    top: 50%;
    left: 50%;
    width:600px;
    z-index: 9999 !important;
}
.login-box form {
    margin:10px 0;
}
.login-box input[type=text], .login-box input[type=password] {
    width: 215px;
}
.login-box.main-content {
    min-height: 0;
}

/**
 * Header
 */
#wrapper > header {
    margin-bottom: 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
    zoom: 1;
}
#wrapper > header > div {
    background: #e1e1e1;
    background: -moz-linear-gradient(top,  #fafafa,  #e1e1e1);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));
    -pie-background: linear-gradient(top,  #fafafa,  #e1e1e1);
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-radius: 0 0 5px 5px;
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    -khtml-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    margin: 0 auto;
    padding: 0 20px;
    width: 940px;
}
#wrapper > header h1 {
    color: #000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 0px 1px 1px #888;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

#wrapper > header h1 a {
    color: #000;
    text-decoration: none;
}

#wrapper > header nav {
}

#wrapper > header nav ul {
    padding: 0;
}

#wrapper > header nav > ul {
}

#wrapper > header nav > ul > li {
    display: block;
    float: left;
    position: relative;
}

#wrapper > header nav > ul > li > a {
    color: #000;
    display: block;
    font-size: 13px;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}

#wrapper > header nav > ul li:hover > a {
}

#wrapper > header nav > ul > li:hover:not(.action) > a {
    background: #d1d1d1;
    background: -moz-linear-gradient(top,  #e7e7e7,  #d1d1d1);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0),  #d1d1d1);
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#d1d1d1));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(#d1d1d1));
}

#wrapper > header nav > ul > li.active > a {
    background: #eee;
    background: -moz-linear-gradient(top,  #e7e7e7,  #ccc);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0),  #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#ccc));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(#ccc));
    -pie-background: linear-gradient(top,  #e7e7e7,  #ccc);
}

#wrapper > header nav > ul > li.action {
    margin-top: 7px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    margin-left: 3px;
    margin-right: 3px;
    -moz-box-shadow: 0 1px 1px #fff;
    -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.5);
    -khtml-box-shadow: 0 1px 1px #fff;
    -khtml-box-shadow: 0 1px 1px rgba(255,255,255,0.5);
    box-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

#wrapper > header nav > ul > li.action > a.button {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    padding: 4px 10px;
    border: 1px solid #444;
    border: 1px solid rgba(0,0,0,0.5);
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

#wrapper > header nav > ul > li > a.arrow-down {
    padding-right: 30px !important;
}

#wrapper > header nav > ul > li > a.arrow-down:after {
    content: " ";
    display: block;
    height: 40px;
    margin-left: 8px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 10px;
    z-index: 1;
}

#wrapper > header nav > ul ul {
    background: #d1d1d1;
    -pie-background: #d1d1d1;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    display: block;
    padding-bottom: 5px;
    position: absolute;
    width: 150px;
    z-index: 999;
    left: -9999em;
    -moz-box-shadow: 0 2px 2px #777;
    -webkit-box-shadow: 0 2px 2px #777;
    -khtml-box-shadow: 0 2px 2px #777;
    box-shadow: 0 2px 2px #777;
}

#wrapper > header nav > ul li:hover ul {
    left: 0;
}

#wrapper > header nav > ul ul li a {
    color: #000;
    display: block;
    font-size: 13px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}

#wrapper > header nav > ul ul li a:hover {
    background: #444 !important;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    zoom: 1;
}

#wrapper > header form input[type=text] {
    background: #777;
    border: 1px solid #191919;
    margin-top: 7px;
    -moz-box-shadow: 0 1px 0 #ddd;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 1px 0 #ddd;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
    -khtml-box-shadow: 0 1px 0 #ddd;
    -khtml-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

#wrapper > header form input[type=text]:hover {
    background: #888;
}

#wrapper > header form input[type=text]:focus {
    background: #eee;
}

.shortcuts {
    padding: 20px 0;
}

.shortcuts ul {
    display: block;
    list-style-type: none;
    padding: 0;
}

.shortcuts ul li {
    float: left;
    margin: 0 5px;
    position: relative;
}

.shortcuts ul li:first-child {
    margin-left: 0;
}

.shortcuts ul li:last-child {
    margin-right: 0;
}

.shortcuts ul li a {
    background: #e1e1e1;
    background: -moz-linear-gradient(top,  #fafafa,  #e1e1e1);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));
    -pie-background: linear-gradient(top,  #fafafa,  #e1e1e1);
    border: 1px solid #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 1px 1px 0 #999;
    -webkit-box-shadow: 1px 1px 0 #999;
    -khtml-box-shadow: 1px 1px 0 #999;
    box-shadow: 1px 1px 0 #999;
    color: #555;
    cursor: pointer;
    display: block;
    padding: 13px 10px;
    text-align: center;
    text-decoration: none;
    width: 63px;
}

.shortcuts ul li a:active {
    border: 1px solid #bbb;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    box-shadow: none;
}

.shortcuts ul li span {
    display: block;
}

.shortcuts ul li em {
    background: #ff2222;
    background: -moz-linear-gradient(top,#ff2222,#c80606);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2222), to(#c80606));
    -pie-background: linear-gradient(top,#ff2222,#c80606);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #933;
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    padding: 0 5px;
    position: absolute;
    top: -5px;
    right: -5px;
}

/**
 * Content
 */
#wrapper > section {
    padding-top: 60px;
}

.has-promo #wrapper > section {
    padding-top: 110px;
}

.main-content {
    background: #f8f8f8;
	background-position:center;
    -moz-box-shadow: 0 0 3px #555;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 3px #555;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -khtml-box-shadow: 0 0 3px #555;
    -khtml-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.main-content > header {
    background: #e1e1e1;
    background: -moz-linear-gradient(top,  #fafafa,  #e1e1e1);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));
    -pie-background: linear-gradient(top,  #fafafa,  #e1e1e1);
    border-bottom: 1px solid #efefef;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -moz-box-shadow: 0 1px 0 #ddd;
    -webkit-box-shadow: 0 1px 0 #ddd;
    -khtml-box-shadow: 0 1px 0 #ddd;
    box-shadow: 0 1px 0 #ddd;
    padding: 15px 20px;
    position: relative;
}

.main-content > header h2 {
    font-family: tahoma, 'Times New Roman', 'Bitstream Charter', Times, serif;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
    text-shadow: 0 1px 0 #fff;
}

.main-content > header .action-buttons {
    position: relative;
    top: -4px;
    z-index: 999;
}

.main-content > header input {
    position: relative;
    top: -6px;
}

.main-content > section {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    overflow: hidden;
}

.main-content > section.container_6 {
    padding: 20px 0;
}

.main-content > section h3 {
    border-bottom: 1px solid #ddd;
    margin-top: 0;
    padding-bottom: 14px;
}

/**
 * Footer
 */
body > footer {
    padding-bottom: 20px;
}
    #footer-inner, #footer-inner a {
        color: #fff;
        font-size: 10px;
    }

    #footer-inner a {
        text-decoration: underline;
    }

/**
 * Elements
 */

/* the overlayed element */
.apple_overlay {
    
    /* initially overlay is hidden */
    display:none;
    
    /* growing background image */
    background-image:url(../images/overlay/white.png);
    
    /* 
        width after the growing animation finishes
        height is automatically calculated
    */
    width:640px;        
    
    /* some padding to layout nested elements nicely  */
    padding:35px;

    /* a little styling */    
    font-size:11px;

    z-index: 9999;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
    background-image:url(../images/close-icon.png);
    position:absolute; right:14px; top:14px;
    cursor:pointer;
    height:30px;
    width:30px;
    z-index: 999;
}

.apple_overlay.black {
    background-image:url(../images/overlay/transparent.png);        
    color:#fff;
}
