
.main-content > section.with-table {
    padding: 0 0 10px 0;
    margin-top: 1px;
}

.main-content > section.with-table .pagination {
    padding-left: 20px;
}

table caption {
    font-size: 12px;
    padding-bottom: 10px;
}

table.no-style {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    background: none;
}
table.full {
    width: 100%;
}
table.medium {
    width: 50%;
	vertical-align:middle;
}

table.no-style > body > tr > td, table.no-style > tbody > tr > th {
    background: none;
    border: 1px;
}

table.simple {
    border-top: 1px dotted #ddd;
}

table.simple > thead > tr > th {
    background: #eee;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

table.simple > thead > tr > th:last-child {
    border-right: none;
}

table.simple > tbody > tr > td, table.simple > tbody > tr > th {
    padding: 5px;
    border-bottom: 1px dotted #ddd;
    text-align: left;
}

table.simple > tbody > tr > th {
    background: #eee;
    border-right: 1px solid #ddd;
    font-weight: bold;
    text-align: right;
}

table.datatable {
    border: 1px solid #ccc;
    border-collapse: separate;
    border-spacing: 0;
}

.main-content > section.with-table > table {
    border: none;
}

table.datatable > thead > tr > th {
    background: #f7f7f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e1e1e1));
    background: -moz-linear-gradient(top,  #f7f7f7,  #e1e1e1);
    -pie-background: linear-gradient(top,  #f7f7f7,  #e1e1e1);
    border-bottom: 1px solid #aaa;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    position: relative;
}

table.datatable > thead > tr > th:not(:last-child) {
    border-right: 1px solid #aaa;
}

table.datatable > thead > tr > th:not(:first-child) {
    border-left: 1px solid #fff;
}

table.datatable > tbody > tr > th, table.datatable > tbody > tr > td {
    padding: 5px 20px;
    vertical-align: middle;
}

table.datatable > tbody > tr:nth-child(odd) > td {
    background: #f2f2f2;
}

table.datatable > tbody > tr > td:not(:last-child) {
    border-right: 1px solid #eee;
}

table.datatable.tablesort {
    table-layout: fixed;
}

table.datatable.tablesort > thead > tr > th {
    padding: 0;
}

table.datatable.tablesort > tbody > tr > td.column-selected {
    background: #ffffc0 !important;
}

table.datatable.tablesort > thead > tr > th > a {
    background: transparent url(../images/arrow-updown.png) no-repeat 20px center;
    color: #434343;
    display: block;
    text-decoration: none;
    padding: 5px 20px;
}
table.datatable.tablesort > thead > tr > th > a.sort-asc {
    background: transparent url(../images/arrow-up.png) no-repeat 20px center;
}
table.datatable.tablesort > thead > tr > th > a.sort-desc {
    background: transparent url(../images/arrow-down.png) no-repeat 20px center;
}

table.datatable.selectable > tbody > tr.hover > td, table.datatable.selectable > tbody > tr.selected > td {
    background: #ffffc0;
}

table.datatable > tfoot > tr > th, table.datatable > tfoot > tr > td {
    border-top: 1px solid #e1e1e1;
    background: #eee;
    padding: 5px 20px;
}

.main-content > section.with-table table.datatable > tfoot > tr > th, .main-content > section.with-table table.datatable > tfoot > tr > td {
    border-bottom: 1px solid #e1e1e1;
}